@font-face {
    font-family: 'DalseoDarling';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoDarling.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoDarling.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoDarling.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoDarling.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoDarling.ttf') format("truetype");
    font-display: swap;
} 